.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.acciones-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.filtro-empleado {
  width: 220px;
}
