<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="responsive.isHandset()" (click)="sidenav.toggle()" aria-label="Abrir menú">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/img/logo-icon.png" alt="" class="logo-icon" />
  <span>Limpiasoft</span>
  <span class="modo-label" *ngIf="!responsive.isHandset()">· Desarrolladores</span>
  <span class="spacer"></span>
  <span class="user-label" *ngIf="!responsive.isHandset()">{{ admin()?.nombre_completo }}</span>
  <button mat-icon-button (click)="logout()" aria-label="Cerrar sesión">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="shell-container">
  <mat-sidenav
    [mode]="responsive.isHandset() ? 'over' : 'side'"
    [opened]="!responsive.isHandset()"
    class="sidenav"
  >
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive="active-link"
        (click)="cerrarSiEsMovil()"
      >
        <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
        <span matListItemTitle>{{ link.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
